-f https://download.pytorch.org/whl/torch_stable.html
tesseract
pytesseract
Jinja2
MarkupSafe
Werkzeug
gunicorn
regex
opencv-contrib-python-headless
numpy
matplotlib
textblob
streamlit==0.87.0
Pillow
transformers == 4.9.2
torch==1.5.0+cpu
torchvision==0.6.0+cpu


